*,
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   cursor: none;
}
.circle {
    width: 50px; 
    height: 50px;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/07/24/dz-logo-letter-monogram-with-triangle-shape-vector-30050724.jpg);
    background-size: cover; 
    border-radius: 50%; 
    position: absolute; 
    top: 50px; 
    left: 50px; 
    pointer-events: none;
}
/* nav & logo */
.logo{
    align-items: center;
    display: flex;
    gap: 10px;
}
.judul-1 {
    font-size: 2rem; 
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 2px solid; 
    width: fit-content; 
    animation: blink 0.75s step-end infinite; 
}

@keyframes blink {
    50% {
        border-color: transparent; /* Menghilangkan border untuk efek kedip */
    }
}
.logo a{
    font-size: 40px;
    color: white;
}
nav ul li a{
    color: white;
}
#nav_a{
 color: white;
}
/* content */
.containers{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-image: url(aset/bintang.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
    animation: containers 10s linear infinite;
    background-size: 100% 100%;
}
@keyframes containers {
    0%{
        background-image: url(https://images.pexels.com/photos/608034/pexels-photo-608034.png?cs=srgb&dl=pexels-608034.jpg&fm=jpg);
    }
    33%{
        background-image: url(https://i.pinimg.com/originals/52/2f/60/522f60afee9d86eabdb04885bcc9c0bd.jpg);
    }
}
.judul-card{
    width: 40%;
    padding: 10px;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
}
.judul-card h1{
    font-size: 50px;
}
.btn-cv{
    display: flex;
    gap: 10px;
    font-size: 30px;
}
.btn-cv i{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
}
.btn-cv a{
    text-decoration: none;
    color: white;
}
.btn-cv i:hover{
    background-color: rgb(27, 86, 169);
}
.card-judul{
    width: 30%;
    height: 50%;
}
.card-judul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* content body */
.judul-project{
    width: 100%;
    font-family: "kanit", sans-serif;
    text-align: center;
}
.judul-project i{
    font-size: 22px;
    font-weight: bold;
}
#icon-project{
    display: none;
}
section{
    width: 100%;
    flex-direction: column;
}
.project{
    flex-wrap: wrap;
    justify-content: center;
}
#project{
    width: 100%;
    padding: 4% 10px 3%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.kartu_project{
    width: 400px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 250px;
    color: white;
    font-family: "Kanit", sans-serif;
    overflow: hidden;
}
.kartu_project:hover{
    border: 2px solid red;
}
.isi-kartu{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.bg_project1{
    background-image: url(aset/pepuskab.id.png);
}
.bg_project2{
    background-image: url(aset/rpl.png);
    object-fit: cover;
}
.bg_project3{
    background-image: url(aset/webguru.png);
}
.bg_project4{
    background-image: url(aset/lomba.png);
}
.bg_project5{
    background-image: url(aset/hm-company.png);
}
.bg_project6{
    background-image: url(https://img.com);
}
/* skils */
.judul-skils{
    text-align: center;
    padding: 10px;
}
.judul-skils i{
    font-size: 22px;
    font-weight: bold;
}
#skils{
    width: 100%;
    padding: 6% 0px 4%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "kanit", sans-serif;
}
.box_skils{
    display: grid;
    place-content: center;
    padding: 10px;
    width: 100%;
}
.isi-skils{
    width: 700px;
    font-size: 20px;
    text-align: center;
}
.all-skils{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
}
.skils-img{
    width: 100px;
    height: 100px;
    transition: 1s;
    border-radius: 10px;
}
.skils-img:hover{
    transform: translateY(-20px);
}
/* pengalaman */
.judul-pengalaman{
    text-align: center;
}
.judul-pengalaman i{
    font-size: 22px;
    font-weight: bold;
}
#Pengalaman{
    padding: 5% 10px 3%;
    font-family: "kanit", sans-serif;
}
.box_pengalaman{
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.kartu-pengalaman{
    width: 400px;
    border-radius: 10px;
    border: 2px solid rgb(221, 218, 218);
    overflow: hidden;
    transition: 1s;
}
.kartu-pengalaman:hover{
    transform: translateY(40px);
}
.isi-pengalaman{
    padding: 10px;
}
.pengalaman-img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

/* penghargaan */
.judul-penghargaan{
    text-align: center;
}
#penghargaan{
    width: 100%;
    font-family: "kanit", sans-serif;
    padding: 5% 10px 20px;
}
.penghargaan{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.kartu-penghargaan{
    width: 40%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: white;
}
.kartu-penghargaan:hover{
    border: 3px solid red;
}
.kartu-penghargaan a{
    text-decoration: none;
    color: white;
}
.bg-Kpenghargaan1{
    background-image: url(https://edufund.co.id/blog/wp-content/uploads/2024/01/Blog-Ilustrasi-Partners-RevoU-scaled.webp);
}
.bg-Kpenghargaan2{
    background-image: url(https://cdn2.lnk.bi/profilepics/-1499450_20221222482.jpg);
}
.bg-Kpenghargaan3{
    background-image: url(aset/otn.jpg);
}
/* popup kontak */
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form input, textarea{
    padding: 10px;
    border-radius: 5px;
}
form label{
    margin: 5px 0px 5px;
}
form button{
    background-color: rgb(19, 89, 169);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px;

}
.popup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    background-size: cover;
    background-position: center;
    padding: 10px;
  }
  .popup-img{
    width: 100%;
    border-radius: 20px;
    height: 200px;
  }
  .popup-nav {
    padding: 20px;
    border-radius: 10px;
    min-width: 50%;
    height: auto;
    overflow: auto;
    gap: 10px;
    animation: scale 1s forwards;
    background-color: burlywood;
    border: 15px;
    cursor: pointer;
  }
  .popup-nav::-webkit-scrollbar{
    display: none;
  }
  @keyframes scale {
    0%{
        transform: scale(0.3);
    }
  }
  .popup-content {
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    min-width: 50%;
    overflow: auto;
    animation: scales 1s forwards;
    background-color: white;
    border: 15px;
    cursor: pointer;
  }
  @keyframes scales {
    0%{
        transform: scale(0.3);
    }
  }
  .title_popup{
    text-align: start;
    padding: 10px;
  }
  .popup-content::-webkit-scrollbar{
    display: none;
  }
  .bg-popup{
    backdrop-filter: blur(30px);
  }
  .close{
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 40px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}
@media(max-width:800px){
    /* head */
    .circle{
        display: none;
    }
    .logo a{
        font-size: 30px;
    }
    #nav_a{
        color: black;
    }
    .menu-icon{
        color: white;
        font-size: 30px;
    }
    .containers{
        width: 100%;
        height: auto;
        flex-wrap: wrap-reverse;
        align-items: start;
        gap: 5px;
        border-radius: 0px 0px 0px 40px;
        padding: 20% 10px 10px;
    }
    #none{
        display: none;
    }
    .judul-card{
        width: 100%;
        font-size: 20px;
    }
    .judul-card h1{
        font-size: 50px;
    }
    .card-judul{
        display: none;
        width: 90%;
    }
    /* body */
    #icon-project{
        display: flex;
    }
    .judul-project{
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        align-items: center;
    }
    .project{
        flex-wrap: wrap;
        display: flex;
    }
    .kartu_project{
        width: 600px;
    }
    
    #skils{
        width: 100%;
        padding: 10px;
    }
    .isi-skils{
        width: 100%;
        text-align: start;
    }
    .all-skils{
        width: 100%;
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .judul-pengalaman{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    #Pengalaman{
      width: 100%;
      padding: 5% 0px 5%;
    }
    .box_pengalaman{
        padding: 0px 10px 0px;
        overflow: auto;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: start;
    }
    .kartu-pengalaman{
        min-width: 80%;
    }
    .kartu-pengalaman:hover{
       transform: none;
       
    }
    .judul-penghargaan{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 0px;
        align-items: center;
    }
    .judul-penghargaan i{
        font-weight: 30px;
        font-weight: bold;
    }
    #penghargaan{
        width: 100%;
        padding: 0px;
    }
    .penghargaan{
        padding: 5px 5px 10px;
        width: 100%;
        overflow: auto;
        gap: 10px;
        justify-content: none;
    }
    .kartu-penghargaan{
        min-width: 80%;
        height: 220px;
    }
     /* popup kontak */
     .close{
        width: 100%;
        display: flex;
        justify-content: end;
        font-size: 40px;
     }
    .popup{
        background-color: white;
    }
    .popup-nav{
        min-width: 90%;
        border: 2px solid black;
        height: auto;
    }
}
